<div class="row">
  <div class="column">
    <h1>Dashboard</h1>
    <p>Welcome <%= current_user.firstname %></p>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="panel">
      <a href="<%= new_ragios_monitor_path %>" class="button small">Create Monitor</a>
    </div>
  </div>

  <div class="column">
    <table width="100%">
      <thead>
        <tr>
          <th>Created at</th>
          <th>Monitor</th>
          <th>URL</th>
          <th>Every</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @ragios_monitors.each do |ragios_monitor| %>
          <tr>
            <td><%= ragios_monitor.created_at.to_formatted_s(:long) %></td>
            <td><%= ragios_monitor.title %></td>
            <td><%= ragios_monitor.url %></td>
            <td><%= "#{ragios_monitor.hours} hours, #{ragios_monitor.minutes} minutes" %></td>
            <td><%= ragios_monitor.monitor_type %></td>
            <td><%= monitor_status(ragios_monitor.status.to_i) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
