<div class="row">
  <div class="column">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="column">
    <% flash.each do |key, value| %>
      <div data-alert class="alert-box <%= key %>">
        <div><%= value %></div>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="panel">
      <a href="<%= new_ragios_monitor_path %>" class="button tiny"><i class="fi-plus icon"></i>Add New Monitor</a>
    </div>
  </div>

  <div class="column">
    <table width="100%">
      <thead>
        <tr>
          <th>Monitor</th>
          <th>URL</th>
          <th>Every</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% unless @monitors.blank? %>
          <% @monitors.each do |monitor| %>
            <tr>
              <td><%= link_to monitor.title, monitor_dashboard_path(monitor) %></td>
              <td><%= link_to monitor.url, monitor_dashboard_path(monitor) %></td>
              <td><%= "#{monitor.hours} hours, #{monitor.minutes} minutes" %></td>
              <td><%= monitor_type(monitor.monitor_type) %></td>
              <td><%= monitor_status(monitor.status.to_i, monitor.ragiosid, @active_monitors) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>You have no monitors. Add your first monitor <a href="<%= new_ragios_monitor_path %>">start here</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
