<span class="hide" id="monitor-info" data-monitor-id="<%= @monitor.ragiosid %>"
  data-events-url="<%= events_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-find-monitor-url="<%= find_ragios_monitors_path(id: @monitor.id, ragios_id: @monitor.ragiosid) %>"
  data-test-url="<%= test_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-start-url="<%= start_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-stop-url="<%= stop_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-restful-url="<%= ragios_monitor_path(@monitor.id) %>"
  data-dashboard-url="<%= dashboard_index_path %>">
</span>
<div class="row">
  <div class="column">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="columns">
    <span id="message"></span>
    <script id="message-template" type="text/template">
    <div data-alert class="alert-box {{ alert }}">
      <div>{{ message }}!</div>
      <div>{{ response }}</div>
      <a href="#" class="close">&times;</a>
    </div>
    </script>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="panel">
      <ul class="tabs" id="monitor-tab" data-tab>
        <li id="all-events-tab" class="tab-title active"><a id="all-events-link" href="#all-events"><i class="fi-graph-trend icon"></i>Events</a></li>
        <li id="monitors-tab" class="tab-title"><a id="monitor-link" href="#monitor"><i class="fi-widget icon"></i>Monitor</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content" id="monitor">
          <div class="row">
            <div class="column">
              <form id="monitor-form">
                <span id="monitor-details"></span>
                <script id="monitor-details-template" type="text/template">
                  <div class="row">
                    <div class="medium-6 columns">
                      <label>Title
                        <input type="text" name="title" value="{{ monitor }}" />
                      </label>
                    </div>
                    <div class="medium-6 columns">
                      <label>URL
                        <input type="text" name="url" value="{{ url }}" />
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="columns medium-6">
                      <label>This monitor runs every:
                        <div class="row">
                          <div class="columns small-6">
                            <label>Hours
                              <input type="number" name="hours" placeholder="0" value="{{ hours }}"  min="0" />
                            </label>
                          </div>
                          <div class="columns small-6">
                            <label>Minutes
                              <input type="number" name="minutes" value="{{ minutes }}"  min="0" />
                            </label>
                          </div>
                        </div>
                      </label>
                    </div>
                    <div class="columns medium-6">
                      <div class="row">
                        <div class="columns">
                          State: {{ current_state_.state }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns">
                          Status: {{ status_ }}
                        </div>
                      </div>
                    </div>
                  </div>
                </script>
                <div class="row">
                  <div class="columns">
                    <a id="update-monitor-button" href="#" class="button tiny"><i class="fi-save icon"></i>Update Monitor</a>
                    <a id="test-button" href="#" class="button tiny"><i class="fi-results icon"></i>Test Monitor</a>
                    <a id="start-button" href="#" class="button tiny"><i class="fi-play icon"></i>Start Monitor</a>
                    <a id="stop-button" href="#" class="button tiny"><i class="fi-stop icon"></i>Stop Monitor</a>
                    <a id="delete-button" href="#" class="button tiny"><i class="fi-trash icon"></i>Delete Monitor</a>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="content active" id="all-events">
          <div class="row">
            <div class="columns">
              <table  id="all-events-datatable" >
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Event Type</th>
                    <th>State</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
