<%= javascript_include_tag "monitor" %>
<span id="maestro-info" data-maestro-url="<%= validate_maestro_index_path %>" data-maestro-test-url="<%= test_maestro_index_path %>"></span>
<span class="hide" id="monitor-info" data-monitor-id="<%= @monitor.ragiosid %>"
  data-events-url="<%= events_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-find-monitor-url="<%= find_ragios_monitors_path(id: @monitor.id, ragios_id: @monitor.ragiosid) %>"
  data-test-url="<%= test_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-start-url="<%= start_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-stop-url="<%= stop_ragios_monitors_path(ragios_id: @monitor.ragiosid) %>"
  data-restful-url="<%= ragios_monitor_path(@monitor.id) %>"
  data-dashboard-url="<%= dashboard_index_path %>"
  data-is-uptime-monitor="<%= (@monitor.monitor_type == "uptime_monitor") %>">
</span>
<div class="row">
  <div class="column">
    <ul class="breadcrumbs">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="columns">
    <span id="message"></span>
    <script id="message-template" type="text/template">
    <div data-alert class="alert-box {{= alert }}">
      <div>{{= message }}!</div>
      <div>{{= response }}</div>
      <a href="#" class="close">&times;</a>
    </div>
    </script>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="panel">
      <ul class="tabs" id="monitor-tab" data-tab>
        <li id="monitors-tab" class="tab-title active"><a id="monitor-link" href="#monitor"><i class="fi-widget icon"></i>Monitor</a></li>
        <li id="all-events-tab" class="tab-title"><a id="all-events-link" href="#all-events"><i class="fi-graph-trend icon"></i>Events</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="monitor">
          <div class="row">
            <div class="column">
              <form id="monitor-form">
                <span id="monitor-details"></span>
                <script id="monitor-details-template" type="text/template">
                  <div class="row">
                    <div class="medium-6 columns">
                      <label>Title
                        <input type="text" name="title" value="{{= monitor }}" />
                      </label>
                    </div>
                    <div class="medium-6 columns">
                      <label>URL
                        <input type="text" name="url" id="url" value="{{= url }}" />
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="columns medium-6">
                      <label>This monitor runs every:
                        <div class="row">
                          <div class="columns small-6">
                            <label>Hours
                              <input type="number" name="hours" placeholder="0" value="{{= hours }}"  min="0" />
                            </label>
                          </div>
                          <div class="columns small-6">
                            <label>Minutes
                              <input type="number" name="minutes" value="{{= minutes }}"  min="0" />
                            </label>
                          </div>
                        </div>
                      </label>
                    </div>
                    <div class="columns medium-6">
                      <div class="row">
                        <div class="columns">
                          State: {{= ragiosHelper.formatState(current_state_.state) }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns">
                          Status: {{= ragiosHelper.formatState(status_) }}
                        </div>
                      </div>
                    </div>
                  </div>
                </script>
                <div class="row">
                  <div class="columns">
                    <% if @email_notifiers.blank? %>
                      You have not add an alert email, add alert emails <%= link_to "here", notifications_dashboard_index_path %>
                    <% else %>
                      <label>Send Email alerts to:</label>
                      <% @email_notifiers.each do |n| %>
                        <input id="alert_emails_<%=n.id%>" class="alert-emails" name="alert_emails" type="checkbox" value="<%= n.email %>"  <%= checked(n, @current_alert_emails) %>><label for="alert_emails_<%=n.id%>"><%= n.email %></label>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <% if @monitor.monitor_type == RagiosMonitor::TYPE[:real_browser_monitor] %>
                  <div class="row">
                    <div class="columns">
                      <div id="validations">
                        <textarea id="source-code" name="source_code" class="hide"></textarea>
                        <div class="row">
                          <div class="columns">
                            <label>Validations & Actions<br/>
                              <div id="editor" name="code"></div>
                            </label>
                            <span id="console"></span>
                            <script id="syntax-error-template" type="text/template">
                              <div id="syntax-error" class="search-results">{{= error }}</div>
                            </script>
                            <script id="results-template" type="text/template">
                              {{ _.each( results, function(i) { }}
                                <div id="results" class="search-results">{{if (i[0] === "error") {  }}{{= i[1] }}{{ } }}{{ if (i[0] !== "error") { }} ({{= _.indexOf(results, i) + 1 }}.) {{ } }} {{ if (i[1] === "exists_as_expected") { }} {{= i[0] }} <span class="label success">exists as expected</span>{{ } else if (i[1] === "does_not_exist_as_expected") {  }} {{= i[0] }} <span class="label alert">does not exists as expected</span>{{ } }}</div>
                              {{ }); }}
                            </script>
                            <%= render "shared/loading_effect" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <div class="row" style="margin-top:15px;">
                  <div class="columns">
                    <% if @monitor.monitor_type == RagiosMonitor::TYPE[:real_browser_monitor] %>
                      <a id="test-monitor" class="button tiny monitor-actions"><i class="fi-wrench icon"></i>Run Script</a>
                    <% end %>
                    <a id="update-monitor-button" href="#" class="button tiny"><i class="fi-save icon"></i>Update Monitor</a>
                    <a id="test-button" href="#" class="button tiny"><i class="fi-results icon"></i>Test Monitor</a>
                    <a id="start-button" href="#" class="button tiny"><i class="fi-play icon"></i>Start Monitor</a>
                    <a id="stop-button" href="#" class="button tiny"><i class="fi-stop icon"></i>Stop Monitor</a>
                    <a id="delete-button" href="#" class="button tiny"><i class="fi-trash icon"></i>Delete Monitor</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="content" id="all-events">
          <div class="row">
            <div class="columns">
              <table  id="all-events-datatable" >
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Event Type</th>
                    <th>State</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
