<%= form_for(@ragios_monitor, html: { data: { abide: '' }}) do |f| %>
  <% if @ragios_monitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ragios_monitor.errors.count, "error") %> prohibited this ragios_monitor from being saved:</h2>
      <ul>
        <% @ragios_monitor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="columns small-6">
      <label>Title <small>required</small>
        <input type="text" name="title" required>
      </label>
      <small class="error">A Title is required.</small>
    </div>
    <div class="columns small-6">
      <label>URL <small>required</small>
        <input id="url" type="text" name="url" required>
      </label>
      <small class="error">A URL is required</small>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-6">
      <label>Run this monitor every?
        <div class="row">
          <div class="columns small-6">
            <label>Hours
              <input type="number" name="hours" placeholder="0"  min="0" />
            </label>
          </div>
          <div class="columns small-6">
            <label>Minutes
              <input type="number" name="minutes" value="5"  min="0" />
            </label>
          </div>
        </div>
      </label>
    </div>
    <div class="columns medium-6">
      <label>Monitor Type</label>
      <input type="radio" name="monitor_type" value="http_check" id="http_check"><label for="http_check">Http check</label>
      <input type="radio" name="monitor_type" value="real_browser_monitor" id="real_browser_monitor" checked="checked"><label for="real_browser_monitor">Real Browser Monitor</label>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <% if @alert_emails.blank? %>
        You have not add an alert email, add alert emails <%= link_to "here", notifications_dashboard_index_path %>
      <% else %>
        <label>Send Email alerts to:</label>
        <% @alert_emails.each do |n| %>
          <input id="alert_emails_<%=n.id%>" name="alert_emails[]" type="checkbox" value="<%= n.email %>" ><label for="alert_emails_<%=n.id%>"><%= n.email %></label>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="validations">
    <textarea id="source-code" name="source_code" class="hide"></textarea>
    <div class="row">
      <div class="columns">
        <label>Validations & Actions<br/>
          <a id="test-monitor" href="#" class="tiny monitor-actions"><i class="fi-wrench icon"></i>Run</a>
          <span data-tooltip aria-haspopup="true" class="has-tip" title="Run current validations & actions">
            <i class="fi-info icon"></i>
          </span>
          <div id="editor" name="code"></div>
        </label>
        <span id="console"></span>
        <script id="syntax-error-template" type="text/template">
          <div id="syntax-error" class="search-results">{{= error }}</div>
        </script>
        <script id="results-template" type="text/template">
          {{ _.each( results, function(i) { }}
            <div id="results" class="search-results">{{ if (i[0] !== "error") { }} ({{= _.indexOf(results,i) + 1 }}.) {{ } }}{{= i }}</div>
          {{ }); }}
        </script>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:15px;">
    <div class="columns">
      <a id="submit-monitor" href="#" class="button tiny monitor-actions"><i class="fi-arrow-right icon"></i>Submit</a>
    </div>
  </div>
<% end %>
