<p id="notice"><%= notice %></p>

<h1>Listing Ragios Monitors</h1>

<table>
  <thead>
    <tr>
      <th>Created at</th>
      <th>Monitor</th>
      <th>URL</th>
      <th>Time Interval</th>
      <th>Type</th>
      <th colspan="3">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @ragios_monitors.each do |ragios_monitor| %>
      <tr>
        <td><%= ragios_monitor.created_at %></td>
        <td><%= ragios_monitor.title %></td>
        <td><%= ragios_monitor.url %></td>
        <td><%= ragios_monitor.time_interval %></td>
        <td><%= ragios_monitor.monitor_type %></td>
        <td><%= ragios_monitor.status.to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ragios monitor', new_ragios_monitor_path %>
