<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ragios_monitor.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ragios_monitor.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ragios_monitor.url %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @ragios_monitor.duration %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @ragios_monitor.contact %>
</p>

<p>
  <strong>Ragiosid:</strong>
  <%= @ragios_monitor.ragiosid %>
</p>

<p>
  <strong>String:</strong>
  <%= @ragios_monitor.string %>
</p>

<p>
  <strong>Code:</strong>
  <%= @ragios_monitor.code %>
</p>

<p>
  <strong>Type:</strong>
  <%= @ragios_monitor.type %>
</p>

<p>
  <strong>Monitor json:</strong>
  <%= @ragios_monitor.monitor_json %>
</p>

<p>
  <strong>User:</strong>
  <%= @ragios_monitor.user %>
</p>

<%= link_to 'Edit', edit_ragios_monitor_path(@ragios_monitor) %> |
<%= link_to 'Back', ragios_monitors_path %>
